<template>
  <base-dialog v-if="inputIsInvalid" title="Invalid input" @close="confirmError">
    <template #body>
      <p>Unfortunately, at least one input value is invalid.</p>
      <p>Please check all inputs make sure you enter at least some characters in each input</p>
    </template>
    <template #actions>
      <base-button @click="confirmError">OK</base-button>
    </template>
  </base-dialog>
  <base-card>
    <h2>Add Resource</h2>
    <div class="form-control">
      <form>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" ref="titleInput">
      </form>
    </div>

    <div class="form-control">
      <form>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="3" ref="descInput"></textarea>
      </form>
    </div>

    <div class="form-control">
      <form>
        <label for="link">Link</label>
        <input id="link" name="link" type="url" ref="linkInput"/>
      </form>
    </div>

    <div>
      <base-button type="submit" mode="flat" @click="submitData">Add Resource</base-button>
    </div>
  </base-card>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: "AddResource",
  components: {},
  inject: ['addResource'],
  data () {
    return {
      inputIsInvalid: false
    }
  },
  methods: {
    submitData() {
      const titleInput = this.$refs.titleInput as HTMLInputElement;
      const descInput = this.$refs.descInput as HTMLInputElement;
      const linkInput = this.$refs.linkInput as HTMLInputElement;

      if(titleInput.value.trim() === '' || descInput.value.trim() === '' || linkInput.value.trim() === ''){
        this.inputIsInvalid = true;
        return;
      }
      this.addResource(titleInput.value, descInput.value, linkInput.value);
    },
    confirmError() {
      this.inputIsInvalid = false;
    }
  }
});
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>