<template>
  <li>
    <!--    title-->
    <base-card>
      <header>
        <h3>{{ title }}</h3>
      </header>

      <div class="body">
        <div>
          <p>{{ description }}</p>
          <nav>
            <a :href="link">View Resource</a>
          </nav>
        </div>
        <div>
          <base-button mode="flat" @click="deleteResource(id)">Delete</base-button>
        </div>
      </div>
    </base-card>
  </li>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'LearningResource',
  props: ['id', 'title', 'description', 'link'],
  inject: {
    deleteResource: {
      from: 'deleteResource',
      default: function (id: string) : void {
        console.log(`Nothing to execute ${id}`)
      }
    }
  }
});
</script>

<style scoped>

li {
  list-style: none;
}

div.body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
</style>
