<template>
  <ul>
    <learning-resource v-for="res in resources"
                       :key="res.id"
                       :id="res.id"
                       :title="res.title"
                       :description="res.description"
                       :link="res.link">
    </learning-resource>
  </ul>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import LearningResource from './LearningResource.vue';

export default defineComponent({
  name: "StoredResources",
  components: {
    "learning-resource": LearningResource
  },
  inject: ["resources"]
});
</script>

<style scoped>
  ul {
    margin: 0;
    padding: 0;
  }
</style>