<template>
<base-card>
  <base-button :mode="storedResButtonMode"
               @click="setSelectedTab('stored-resources')">Stored Resources</base-button>
  <base-button :mode="addResButtonMode"
               @click="setSelectedTab('add-resource')">Add Resource</base-button>
</base-card>
  <keep-alive>
    <component :is="selectedTab"></component>
  </keep-alive>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import StoredResources from '@/components/learning-resources/StoredResources.vue';
import AddResource from '@/components/learning-resources/AddResource.vue';

export default defineComponent({
  name: "TheResources",
  components: {
    'stored-resources': StoredResources,
    'add-resource': AddResource
  },
  data() {
    return {
      selectedTab: 'stored-resources',
      storedResources: [
        {
          id: "official-guide",
          title: "Official Guide",
          description: "The official Vue.js documentation.",
          link: "https://vuejs.com"
        },
        {
          id: "google",
          title: "Google",
          description: "Learn to google...",
          link: "https://google.com"
        }
      ]
    }
  },
  provide() {
    return {
      resources: this.storedResources,
      addResource: this.addResource,
      deleteResource: this.deleteResource
    }
  },
  computed: {
    storedResButtonMode() : string {
      return this.selectedTab === 'stored-resources' ? 'none' : 'flat';
    },
    addResButtonMode(): string| null {
      return this.selectedTab === 'add-resource' ? 'none' : 'flat';
    }
  },
  methods: {
    setSelectedTab(tab: string) : void {
      this.selectedTab = tab;
      console.log(`click on ${tab}`);
    },
    addResource(title: string, description: string, url: string) : void {
      console.log('Add resources...')
      const newResource = {
        id: new Date().toISOString(),
        title: title,
        description: description,
        link: url
      };

      this.storedResources.unshift(newResource);
      this.selectedTab = 'stored-resources';
    },
    deleteResource(id: string) : void {
      console.log(`Deleting... ${id}`)

      const findIndex = this.storedResources.findIndex(res  => res.id === id);
      this.storedResources.splice(findIndex, 1);
      // this.storedResources = this.storedResources.filter( (res) => res.id !== id);
    }
  }
})
</script>

<style scoped>

</style>