<template>
<header>
  <img
    alt="Vue logo"
    src="../../assets/logo.svg"
    width="60"
    height="60"
  />
  <h1>{{ title }}</h1>
</header>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: "TheHeader",
  props: ['title']
});
</script>

<style scoped>
header {
  display: flex;
  width: 100%;
  height: 15vh;
  color: #f2f2f2;
  background-color: #3d5f81;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;

}
</style>