<template>
  <button :type="type" :class="mode" >
    <slot></slot>
  </button>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
export default defineComponent({
  name: "BaseButton",
  props:[ 'type' ,'mode']
});
</script>

<style scoped>
button {
  padding: 0.75rem 1.5rem;
  font-family: inherit;
  /*background-color: #3a0061;*/
  background-color: var(--vt-c-indigo);
  border: 1px solid var(--vt-c-divider-light-2);
  color: white;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: var(--vt-c-black-soft);

}

.flat {
  background-color: transparent;
  color: var( --vt-c-indigo);
  border: none;
}

.flat:hover,
.flat:active {
  background-color: var(--vt-c-indigo-light);
  border-color: #269d05;
}
</style>